<h1 style="color:black;font-size:40px;text-align: center">Structural Directives</h1>

<h2 style="color:black">NgSwitch Example: based on Gender</h2>

<ul *ngFor="let person of people" [ngSwitch]="person.gender">

  <li *ngSwitchCase="'Male'" style="color:purple;font-size:20px;font-weight:bolder;">
    {{ person.name }} ({{ person.gender }})
  </li>

  <li *ngSwitchDefault style="color:blue;font-size:20px;font-weight:bolder">
    {{ person.name }} ({{ person.gender }})
  </li>

</ul>

<h2 style="color:black">NgIf Example: whose age is less than 30</h2>

<ul *ngFor="let person of people">
  <li *ngIf="person.age < 30" style="color:red;font-size:20px;font-weight:bolder">
    {{ person.name }} ({{ person.age }})
  </li>  
</ul>

<h2 style="color:black">NgIf Example: whose age is greater than 30</h2>

<ul *ngFor="let person of people">
  <li *ngIf="person.age > 30" style="color:red;font-size:20px;font-weight:bolder">
    {{ person.name }} ({{ person.age }})
  </li>
</ul>

<h2 style="color:black">NgIf Example whose occupation is Manager</h2>

<ul *ngFor="let person of people">
  <li *ngIf="person.occupation==='Manager'" style="color:green;font-size:20px;font-weight:bolder">
    {{ person.name }} ({{ person.occupation }})
  </li>
</ul>

<h2 style="color:black">NgIf Example whose occupation is SDE</h2>

<ul *ngFor="let person of people">
  <li *ngIf="person.occupation==='SDE'" style="color:green;font-size:20px;font-weight:bolder">
    {{ person.name }} ({{ person.occupation }})
  </li>  
</ul>

<h2 style="color:black">NgIf Example whose occupation is Intern</h2>

<ul *ngFor="let person of people">
  <li *ngIf="person.occupation==='Intern'" style="color:green;font-size:20px;font-weight:bolder">
    {{ person.name }} ({{ person.occupation }})
  </li>  
</ul>
